---
Language: Cpp
BasedOnStyle: LLVM
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: AlignAfterOperator
IndentWidth: 4
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
...
