[submodule "libs/pll-modules"]
	path = libs/pll-modules
	url = https://github.com/ddarriba/pll-modules
[submodule "libs/catch2"]
	path = libs/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libs/growt"]
	path = libs/growt
	url = https://github.com/TooBiased/growt.git
[submodule "src/commandline/IO"]
	path = src/commandline/IO
	url = https://github.com/DoktorBotti/RF_Metrics_IO.git
[submodule "libs/weighted-bipartite-perfect-matching"]
	path = libs/weighted-bipartite-perfect-matching
	url = https://github.com/jamespayor/weighted-bipartite-perfect-matching.git
